<div class="container-fluid text-white">
             <div class="row">
                   <div class="container-fluid text-white">
             <div class="row">
                   <div onclick="location.href='@Url.Action("", "")'"  class="shadow-lg col-3 text-center  m-4 bg-azul  module-item rounded transportacion-bg">Transportación</div>
                    <div onclick="location.href='@Url.Action("", "")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded visitas-bg">Control de visitas</div>
                    <div  onclick="location.href='@Url.Action("", "")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded viaticos-bg">Control de viáticos</div>
                    <div onclick="location.href='@Url.Action("", "")'"  class="shadow-lg col-3 text-center  m-4 bg-azul  module-item rounded caja-bg">Control de caja chica</div>
                    <div onclick="location.href='@Url.Action("", "")'"  class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded combustibles-bg">Control de combustibles</div>
                    <div  onclick="location.href='@Url.Action("", "")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded digitalizacion-bg">Digitalización</div>
             </div>
</div>
                    
             </div>
</div>