<div class="container-fluid text-white">
             <div class="row">
                   <div onclick="location.href='@Url.Action("Index", "Financiero")'" class="shadow-lg col-3 text-center  m-4 bg-azul  module-item rounded presupuesto-bg">Formulacion Presupuesto</div>
                    <div onclick="location.href='@Url.Action("EjecucionPresuesto", "Financiero")'"class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Ejecucion Presupuesto</div>
                    <div  onclick="location.href='@Url.Action("ActivosFijos", "Financiero")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Activos Fijos</div>
                    <div  class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Contabilidad</div>
                    <div onclick="location.href='@Url.Action("ConciliacionBancaria", "Financiero")'"  class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Conciliacion Bancaria</div>
                    <div onclick="location.href='@Url.Action("CuentasPagar", "Financiero")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Cuentas por pagar</div>
                    <div onclick="location.href='@Url.Action("FacturacionCobros", "Financiero")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Facturacion y cobros</div>
             </div>
</div>