<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 
        Municipal</title>
   <!-- CSS only --><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIGEFMunicipal.styles.css" asp-append-version="true" />
</head>
<body class="text-white" >

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
           
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Resources/Escudo.png" style="height: 95px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 40px;"/></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Resources/LogoTemp.png" style="height: 100px;margin-top: -20px;margin-bottom: -20px; margin-left: 720px;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   
                </div>

            </div>
        </nav>
    </header>

    <input type="hidden" id="hdfOculto" value="@Url.Content("~")">
     <div class="bg-header pr-2 pl- 2 mb-4" style="ALIGN-ITEMS: center; margin-top: -19px;display: flex;justify-content: space-between;"><div style="padding-left: 10px;
">2345-Ayuntamiento de ....</div>  <div  style="padding-right: 20px;"> <img style="width:58px" src="~/Resources/MensajeVacio.png"/> <img style="width:45px" src="~/Resources/notificacionVacio.png"/> Usuario </div> </div>
    <div class="container-fluid ">
         <main role="main" class="pb-3 text-white" >
        <div class="row">
            <div class="col-12">
                <div class="row mb-2" style="text-align: right;padding: 0 25%;";>
                    <div class="col-3" onclick="location.href='@Url.Action("Index", "Home")'">
                    <button class="text-white font-weight-bold buttons-modules btn bg-azul ">Financiero</button>
                    </div>
                     <div class="col-3" onclick="location.href='@Url.Action("Index", "ComprasContrataciones")'">
                           <button class="text-white font-weight-bold buttons-modules btn bg-azul  ">Compras</button>
                    </div>
                     <div class="col-3" onclick="location.href='@Url.Action("Home", "RRHH")'">
                           <button class="text-white font-weight-bold buttons-modules btn bg-azul  ">RRHH</button>
                    </div>
                     <div class="col-3" onclick="location.href='@Url.Action("Administrativo", "Home")'">
                           <button class="text-white font-weight-bold buttons-modules btn bg-azul  ">Administrativo</button>
                    </div>
                 
       
                </div>
        
            </div>
         
 
            <div class="col-12 p-4 border text-black" style="height:100vh">
                
                     @RenderBody()
               
            </div>
         
        </div>
         </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SIGEFMunicipal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
      <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/datatable.js"></script>
<script src="~/js/sweetalert.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
